// TEMA 1

// background
$t1mainBackground: hsl(222, 26%, 31%);
$t1toggleKeypad: hsl(223, 31%, 20%);
$t1screen: hsl(224, 36%, 15%);

// keys
$t1keyBackgroundBlue: hsl(225, 21%, 49%);
$t1keyShadowBlue: hsl(224, 28%, 35%);

$t1keyToggleBackground: hsl(6, 63%, 50%);
$t1keyShadowRed: hsl(6, 70%, 34%);

$t1keyBackgroundOrange: hsl(30, 25%, 89%);
$t1keyShadowOrange: hsl(28, 16%, 65%);

// text
$t1textBlue: hsl(221, 14%, 31%);
$t1textWhite: hsl(0, 0, 100%);


// TEMA 2
//Background
$t2mainBackgrouns: hsl(0, 0%, 90%);
$t2toggleKeypad: hsl(0, 5%, 81%);
$t2screen: hsl(0, 0%, 93%);

// keys
$t2keyBackgroundCyan: hsl(185, 42%, 37%);
$t2keyShadow: hsl(185, 58%, 25%);

$t2keyToggleBackground: hsl(25, 98%, 40%);
$t2keyShadowOrange: hsl(25, 99%, 27%);

$t2keyBackground: hsl(45, 7%, 89%);
$t2keyShadowOrange: hsl(35, 11%, 61%);

// TEXT
$t2textGrayish: hsl(60, 10%, 19%);
$t2textWhite: hsl(0, 0, 100%);


// TEMA 3

// background
$t3mainBackground: hsl(268, 75%, 9%);
$t3ToggleKeypadScreenBackground: hsl(268, 71%, 12%);

// Keys

$t3keysBackground: hsl(281, 89%, 26%);
$t3keyShadow: hsl(285, 91%, 52%);

$t3keyToggleBackground: hsl(176, 100%, 44%);
$t3keyShadowCyan: hsl(177, 92%, 70%);

$t3keysBackgroundviolet: hsl(268, 47%, 21%);
$t3keyShadowMagenta: hsl(290, 70%, 36%);

// TEXT

$t3textYellow: hsl(52, 100%, 62%);
$t3textBlue: hsl(198, 20%, 13%);
$t3textWhite: hsl(0, 0, 100%);



