.btn-number{
    margin: 2%;
    width: 20%;
    font-size: $font-number;
    background-color: $theme1-key-background-orange;
    color: $theme1-text-blue ;
    border-color: none;
    height: 100px;
    border-radius: 15px;
}
.btn-down{
    margin: 2%;
    width: 45%;
    height: 100px;
    border-radius: 15px;
}