body{
    background-color: $theme1-main-background;
    color: $theme1-text-white;
    font-family: 'Spartan', sans-serif;
}
.container{
    width: 40%; 
    position: relative;
    left: 30%;
    
}
.header{
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
    .title{
        font-size: 70px;
        margin: 0%;
    }
    p{
        font-size: 18px;
        width: fit-content;
        height: fit-content;
    }
    
}

.themes-container{
    display: flex;
    width: 40%;
    align-items: flex-end;
    justify-content: flex-end;
    p{
        padding: 0;
        margin: 0 16px 0px 0px;
    }
}
.result-container{
    height: 140px;
    margin: 6% 0 6% 0;
    background-color: $theme1-screen;
    border-radius: 8px;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
     span{
        margin-right: 40px;
     }
}
.buttons-container{
    background-color: $theme1-toggle-keypad;
    border-radius: 8px;
    

}