// TEMA 1

// background
$theme1-main-background: hsl(222, 26%, 31%);
$theme1-toggle-keypad: hsl(223, 31%, 20%);
$theme1-screen: hsl(224, 36%, 15%);

// keys
$theme1-key-background-blue: hsl(225, 21%, 49%);
$theme1-keyshadow-blue: hsl(224, 28%, 35%);

$theme1-key-toggle-background: hsl(6, 63%, 50%);
$theme1-keyshadow-red: hsl(6, 70%, 34%);

$theme1-key-background-orange: hsl(30, 25%, 89%);
$theme1-keyshadow-orange: hsl(28, 16%, 65%);

// text
$theme1-text-blue: hsl(221, 14%, 31%);
$theme1-text-white: hsl(0, 0, 100%);


// TEMA 2
//Background
$theme2-main-backgrouns: hsl(0, 0%, 90%);
$theme2-toggle-keypad: hsl(0, 5%, 81%);
$theme2-screen: hsl(0, 0%, 93%);

// keys
$theme2-key-background-cyan: hsl(185, 42%, 37%);
$theme2-keyshadow: hsl(185, 58%, 25%);

$theme2-key-toggle-background: hsl(25, 98%, 40%);
$theme2-keyshadow-orange: hsl(25, 99%, 27%);

$theme2-key-background: hsl(45, 7%, 89%);
$theme2-keyshadow-orange: hsl(35, 11%, 61%);

// TEXT
$theme2-text-grayish: hsl(60, 10%, 19%);
$theme2-text-white: hsl(0, 0, 100%);


// TEMA 3

// background
$theme3-main-background: hsl(268, 75%, 9%);
$theme3-toggle-keypadscreen-background: hsl(268, 71%, 12%);

// Keys

$theme3-keys-background: hsl(281, 89%, 26%);
$theme3-keyshadow: hsl(285, 91%, 52%);

$theme3-key-toggle-background: hsl(176, 100%, 44%);
$theme3-keyshadow-cyan: hsl(177, 92%, 70%);

$theme3-keys-background-violet: hsl(268, 47%, 21%);
$theme3-keyshadow-magenta: hsl(290, 70%, 36%);

// TEXT

$theme3-text-yellow: hsl(52, 100%, 62%);
$theme3-text-blue: hsl(198, 20%, 13%);
$theme3-text-white: hsl(0, 0, 100%);


